
body{
    margin: 0;
}
.header-container {


    padding: 10px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-picture {
    height: 60px;
    width: 60px;
    padding: 10px;
}
.name {
    color: #E5E7EB;
    padding: 10px;
}

.left-header, .right-links{
    display: flex;
    gap: 16px;
    font-size: 18px;

}

ul {
    display: flex;
    margin: 0px;
    padding: 30px;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.body-container {

    width: auto;
    padding: 30px;
    margin: 0px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
    
}

.left-body {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5E7EB;
    text-align: center;
    justify-content: space-around;
}
.right-body
{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    margin: 0px;
    
}

.welcome {
    width: 400px;
    font-size: 48px;
    margin: 0px;
    padding: 10px;
    
}
.description {
    width: 300px;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

.cover-image {
    height: 400px;
    width: 500px;
    padding: 0px;
}

.body-picture 
{
    width: 800px;
    padding: 0px;
    
} 
.title {
    color: #1f2937;
    padding: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
 }
.info-container
{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.mma-image {

    align-self: center;
    height: 200px;
    width: 200px;
    border: 10px solid #1f2937;
    border-radius: 10px;

}
.box-1
{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.text-1
{
    align-self: center;
    padding: 10px;
}
p{
    padding: 5px;
    text-align: center;
}
.quote-container
{
    background-color: #E5E7EB;
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-top: 150px;
    height: 300px;
    justify-content: center;
    align-content: center;

}
.sign-up{
    
  display: flex;
  margin: 60px;
  padding: 10px;
  background: #3882f6;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

    
}


.action-1{
    
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    color: #E5E7EB;
    text-align: center;
}
.link-box{
    
    font-size: 24px;
    background-color: #3882f6;
    padding: 15px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin: 70px;
}

.footer{
    

    background-color: #1f2937;
    display: flex;
    font-size: 16px;
    font-style: italic;
    color:#E5E7EB;
    justify-content: center;
    align-content: center;

}
